*{
  margin-top: 0;
}
body{
  height: 100vh;
  width:100vw;
  text-align: center;
  background: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602722476/apce_iuwmrn.jpg')
  /* background-color: rgb(25, 105, 116);
box-shadow: 25px 25px 45px 45px #0ff;
height: 100vh */

}
.landingBody{
  background-image: url('https://res-console.cloudinary.com/dl7aojigh/thumbnails/transform/v1/image/upload//v1602722476/YXBjZV9pdXdtcm4=/drilldown');
  background-size: 100%;
  height: 375px;
  width:812px;
  background-repeat: no-repeat;
  position: relative;


}
@media(min-width: 813px){
  .landingBody{
    background-image: url('https://res-console.cloudinary.com/dl7aojigh/thumbnails/transform/v1/image/upload/Y19zY2FsZSxoXzExMDAsd18xNDAw/v1602722476/YXBjZV9pdXdtcm4=/template_primary');
  }
}
.signup{
  height: 375px;
  width:812px;
}
.astronaut{
  position: absolute;
  background: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602738390/astronaut_landing_page_image_l9ytsa.png');
  width: 233px;
  height: 334px;
  left: -10px;
  top: 60px;
}
.welcome{
  color:#4AB0ED
}
.spaceCadet{
  color:#4AED95
}
.labelForUsername{
  color:#FFFFFF
}
.usernameInput{
  background: #acacac32;
  border: solid 2px #00E0FF;
  border-radius: 8px;
  height: 25px;
  width: 170px;
}
.submitUsername{
  color:#43ECAC;
margin-top: 40px;
background: #050706;
border: 2px solid #050706;
box-sizing: border-box;
box-shadow: -4px -2px 16px #00FFFF, 4px 2px 16px rgba(67, 236, 172, 0.48);
border-radius: 20px;
}
