body{
  background-color: rgb(25, 105, 116);
box-shadow: 25px 25px 45px 45px #0ff;
  
}
.landingBody{
  background-image: url('https://res-console.cloudinary.com/dl7aojigh/thumbnails/transform/v1/image/upload//v1602722476/YXBjZV9pdXdtcm4=/drilldown');
  height: 375px;
  width:812px;
  background-repeat: no-repeat;
  position: fixed;

  
}
@media(min-width: 813px){
  .landingBody{
    background-image: url('https://res-console.cloudinary.com/dl7aojigh/thumbnails/transform/v1/image/upload/Y19zY2FsZSxoXzExMDAsd18xNDAw/v1602722476/YXBjZV9pdXdtcm4=/template_primary');
  }
}
.signup{
  height: 375px;
  width:812px;
  background-image:url('https://il.static.1001fonts.net/s/p/space-age-font-2-big.png')
}