@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  background-image: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602722476/apce_iuwmrn.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw ;
  background-repeat: no-repeat;
  margin : 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.startscreen{
  background-image: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602722476/apce_iuwmrn.jpg');
  background-size: stretch;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-color: black;
}


.landingBody, .logout {
  min-width: 200px;
  text-align: center;
  /* margin bottom to better align welcome screen contents without h2 margin offset */
  margin-bottom: 30px;
}

/* .landingBody, .logout{
  background-image: url('https://res-console.cloudinary.com/dl7aojigh/thumbnails/transform/v1/image/upload//v1602722476/YXBjZV9pdXdtcm4=/drilldown');
  background-image: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602722476/apce_iuwmrn.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw ;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;

}  */

@media(min-width: 813px){
  /* .landingBody{
    background-image: url('https://res-console.cloudinary.com/dl7aojigh/thumbnails/transform/v1/image/upload/Y19zY2FsZSxoXzExMDAsd18xNDAw/v1602722476/YXBjZV9pdXdtcm4=/template_primary');
    background-image: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602722476/apce_iuwmrn.jpg');
  } */
}


.signup {
  height: 375px;
  width: 812px;
}

#astronaut-image{
  background-image: url('https://res.cloudinary.com/dl7aojigh/image/upload/v1602738390/astronaut_landing_page_image_l9ytsa.png');
  background-size: contain;
  position: absolute;
  width: 233px;
  height: 334px;
  left: -30px;
  top: -20px;
  z-index: -1;
}

@media (min-width: 600px) and (orientation: landscape){
  #astronaut-image{
    top: 40px;
  }
}

.welcome{
  color:#4AB0ED;
  font-family: 'Audiowide', cursive;
}
.spaceCadet{
  font-family: 'Audiowide', cursive;
  color:#4AED95
}
.labelForUsername{
  color:#FFFFFF;
  font-family: 'Roboto Mono', monospace;
}
.usernameInput{
  background: #acacac32;
  border: solid 2px #00E0FF;
  border-radius: 8px;
  height: 25px;
  width: 170px;
}
.submitUsername{
  color:#43ECAC;
margin-top: 40px;
background: #050706;
border: 2px solid #050706;
box-sizing: border-box;
box-shadow: -4px -2px 16px #00FFFF, 4px 2px 16px rgba(67, 236, 172, 0.48);
border-radius: 20px;
}
.modalBody{
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  width:302px;
  height:168px;
  
  

}
.modal-content{
  width:302px;
  height:168px;
  justify-content: center;
}
.missionModal{
  width:302px;
  height:168px;
  background: #050706;
  /* text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center; */


}
.missionTitle{
color: #4AED95
}
.missionModalContent{
  color:#69FE6F;
  font-size: 10px;
}
.mapButton{
  color: #4AED95;
  background: #050706;
  border: solid 2px #050706;
  border-radius:12px;
  box-shadow: 0px -2px 10px #69FE6F, 0px 2px 10px rgba(140, 245, 54, 0.37);

}
.newMissionButton{
  color: #4AED95;
  background: #050706;
  border: solid 2px #050706;
  border-radius:12px;
  box-shadow: 0px -2px 10px #69FE6F, 0px 2px 10px rgba(140, 245, 54, 0.37);
  font-family: 'Roboto Mono', monospace;
  margin-top: 40px;
  background: #050706;
  border: 2px solid #050706;
  box-sizing: border-box;
  box-shadow: -4px -2px 16px #00FFFF, 4px 2px 16px rgba(67, 236, 172, 0.48);
  border-radius: 20px;
}

#username-label {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}